# Configuration de l'environnement (Copier en .env)
APP_ENV=development
APP_PORT=8000
DEBUG=True

# Google Sheets Config
GOOGLE_SERVICE_ACCOUNT_FILE=credentials.json
SPREADSHEET_MEALS_SHOPPING_ID=
SPREADSHEET_BUDGET_ID=

# LLM Config (pour l'analyse d'intentions si nécessaire)
# OPENAI_API_KEY=
# GEMINI_API_KEY=
